
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap')

/*Asterisk wildcard selector to override default added by the browser*/
 * {
    padding:2;
    margin:2;
    box-sizing:border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Arimo',sans-serif;
}

/*Header*/
header {
    background-color: whitesmoke;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px hsl(0, 41%, 63%);
     
}

header a {
    text-decoration:solid;
    color:inherit;
   
}

h1 {
    font-family: 'Italic',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;

}
#menu {
    font-size: 120%;
    letter-spacing: normal;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 2px solid black;
}

/*Navbar styles */
nav {
    position: absolute;
    background-color: #ffffff;
    width:100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #3a3a3a;
    display: none;

}


/*Main content*/
main {
    background-color: lightblue;
    /*main element take up*/
    flex: 1 0 auto;
   
}

/*Footer*/
footer {
    background-color: orange;
}