/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:black;
}


/* Header */
header {
    background-color: lightpink;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}



#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .2em;
}

.active {
    border-bottom: 2px solid gray;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color:white;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {

    flex: 1 0 auto;
    margin-top: 50px;
}
/*Hero section*/
#hero {

    background: url("../images/Group\ of\ people\ in\ park.jpg") no-repeat center center/cover;
    height: 700px;
    width: 100%;
    position: relative;
}

#home-text {
  
    background-color: rgba(247, 20, 35, 0.74);
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 60%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}


/*yoga-fest-event*/

#yoga-fest-event {
    display: flex;
    flex-direction:row;
    width:100%;
  
}

#yoga-fest-event div {
    color: #fafafa;
    padding: 1rem 1.5rem;
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px solid white;
   
}

#yoga-fest-event h2 {
    margin-bottom: 20px;
    text-align: center;
}

#event {
    background-color:rgb(110, 88, 88);
}
#event p {
    display: flex;
    flex-direction: row;
}
#where {
    background-color:rgb(102, 85, 85);
}
#where p {
    display: flex;
    flex-direction: row;
}
#yoga-image {
    background-color:#fafafa;
    display: flex;
    flex-direction: row;
}



/* Footer */
#social-media  {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}

#social-media i {
    font-size: 160%;
    padding: 4%;
    color: black;
}

/*Media query:tablets (768px and up)*/
@media screen and (min-width:768px) {
    /*Header*/
    nav {
        display:contents;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
        padding-left: 1rem;
    }
    #menu > li {
        padding-left: 2rem;
    }
    .nav-toggle-label {
        display:none;
    }

    #logo {
        font-size: 45px;
        line-height: 80px;
        margin: 0 .2rem;
    }
   

    /*main content*/
    main {
        margin-top: 5px;
    }
}

/*media query laptop and desktop 992 px and up*/
@media screen and (min-width: 992px){
    #menu a:hover {
        border-bottom: 2px solid gray;
    }
    
}