/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    text-transform:capitalize;
    letter-spacing: 2px;
    color:black;
}
h4{
   font-family: Arial,sans-serif; 
   color: khaki;
}



/* Header */
header {
    background-color: lightpink;
    padding: 0 1rem;
    position:relative;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .2em;
}
.fullimage {
    width: 100%;;
}

.active {
    border-bottom: 2px solid gray;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color:lightpink;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    flex: 1 0 auto;
    
    /*Enable flex properties*/
    display: flex;
    flex-direction: column;
}
/*Form*/
#register {
    background-image:url("../images/register_background\ image.jpg");
    background-size: cover;
    background-position: 70%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    width: auto;
}

#register-form {
    color: #fafafa;
    background-color: rgba(150, 63, 98, 0.74);
    padding: 30px;
}

#register-form h2{
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/*Hero section*/
#hero {

    background: url("../images/women\ yoga\ fitnes.jpg") no-repeat center center/cover;
    height: 700px;
    width: 100%;
    position: relative;
    column-gap: 0;

}

#home-text {
  
    background-color: rgba(155, 62, 68, 0.74);
    bottom: 20px;
    width: 66%;
    min-height: 150px;
    padding-top: 40px;
    padding-left: 20px;

}
#home-text h2,h3 {
    color: mintcream;
}


/*yoga-fest-event*/

#yoga-fest-event {
    display: flex;
    flex-direction:row;
    width:100%;
  
}

#yoga-fest-event div {
    color: #fafafa;
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px solid white;
   
}

#yoga-fest-event h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}

.where {
    background-color:rgb(196, 88, 69);
}
.where p {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color:whitesmoke;
    padding: 1rem;
}

#yoga-image {
    background-color:#fafafa;
    display: flex;
    flex-direction: row;
}

/* Gallery page-refered from  love running project */

#yoga-photos img {
    width: 100%;
    line-height: 16px;
}
#yoga-photos {
    line-height: 0;
}


/* Footer */
#social-media  {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}

#social-media i {
    font-size: 160%;
    padding: 4%;
    color: black;
}

/* Media query below 500 px */

@media screen and (max-width: 500px) {
    
    #yoga-fest-event {
        display:unset;
        width: 100%;
    }

    #yoga-photos {
        column-count: 1;
        column-gap: 0;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #yoga-photos {
        column-count: 2;
        column-gap: 0;
    }
    
}

/*Media query:tablets (768px and up)*/
@media screen and (min-width:768px) {
    /*Header*/
    nav {
        display:block;
        position: relative;
        width: fit-content;
        padding-right: .5rem;
    }
    #menu {
        display: flex;
        padding-left: 1rem;
    }
    #menu > li {
        padding-left: 2rem;
    }
    .nav-toggle-label {
        display:none;
    }

    #logo {
        font-size: 240%;
        line-height: 80px;
        margin: 0 .2rem;
    
    }
    #logo a {
        width:100% ;
    }

    /*main content*/

    main {
        margin-top: 5px;
    }
    /*gallery*/
    #yoga-photos {
        column-count: 3;
    }


    /* Register Form */
    #register {
        background-position: center;
        position: relative;
    }
    #register-form {
        max-width: 400px;
        position: absolute;
        left: 8%;
        top: 20px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }
    
}

/*media query laptop and desktop 992 px and up*/
@media screen and (min-width: 992px){
    #menu a:hover {
        border-bottom: 2px solid gray;
    }
    /*gallery*/
    #yoga-photos {
        column-count: 4;
    }
    
}